## Data Analytics I
Create a Linear Regression Model using Python/R to predict home prices using Boston Housing
Dataset (https://www.kaggle.com/c/boston-housing). The Boston Housing dataset contains
information about various houses in Boston through different parameters. There are 506 samples
and 14 feature variables in this dataset.
The objective is to predict the value of prices of the house using the given features.

In [8]:
import numpy as np
import pandas as pd

In [9]:
df = pd.read_csv('HousingData.csv')
df

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1,273,21.0,391.99,NaN,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1,273,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1,273,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1,273,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,NaN,2.5050,1,273,21.0,396.90,7.88,11.9

In [10]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [11]:
df['CRIM'].fillna(df['CRIM'].mean(),inplace=True)
df['ZN'].fillna(df['ZN'].mean(),inplace=True)
df['INDUS'].fillna(df['INDUS'].mean(),inplace=True)
df['CHAS'].fillna(df['CHAS'].mean(),inplace=True)
df['AGE'].fillna(df['AGE'].mean(),inplace=True)
df['LSTAT'].fillna(df['LSTAT'].mean(),inplace=True)

In [12]:
#independent variable
x = df.iloc[:,0:13]
x

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.200000,4.0900,1,296,15.3,396.90,4.980000
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.900000,4.9671,2,242,17.8,396.90,9.140000
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.100000,4.9671,2,242,17.8,392.83,4.030000
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.800000,6.0622,3,222,18.7,394.63,2.940000
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.200000,6.0622,3,222,18.7,396.90,12.715432
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.100000,2.4786,1,273,21.0,391.99,12.715432
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.700000,2.2875,1,273,21.0,396.90,9.080000
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.000000,2.1675,1,273,21.0,396.90,5.640000
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.300000,2.3889,1,273,21.0,393.45,6.480000
505,0.04741,0.0,11.93,0.0,0.573,6.030,68.518519,2.5050,1,273,21.0,396.90,7.880000

In [13]:
#dependent variable
y = df.iloc[:,-1]
y

0      24.0
1      21.6
2      34.7
3      33.4
4      36.2
       ...
501    22.4
502    20.6
503    23.9
504    22.0
505    11.9
Name: MEDV, Length: 506, dtype: float64

In [14]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2,random_state = 20)

In [15]:
x_train

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
7,0.14455,12.500000,7.87,0.000000,0.524,6.172,96.100000,5.9505,5,311,15.2,396.90,19.150000
268,0.54050,20.000000,3.97,0.000000,0.575,7.470,52.600000,2.8720,5,264,13.0,390.30,3.160000
80,0.04113,25.000000,4.86,0.000000,0.426,6.727,33.500000,5.4007,4,281,19.0,396.90,5.290000
30,1.13081,0.000000,8.14,0.000000,0.538,5.713,94.100000,4.2330,4,307,21.0,360.17,22.600000
450,6.71772,0.000000,18.10,0.069959,0.713,6.749,92.600000,2.3236,24,666,20.2,0.32,17.440000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
412,18.81100,0.000000,18.10,0.000000,0.597,4.628,100.000000,1.5539,24,666,20.2,28.79,34.370000
223,0.61470,0.000000,6.20,0.000000,0.507,6.618,80.800000,3.2721,8,307,17.4,396.90,7.600000
271,0.16211,20.000000,6.96,0.000000,0.464,6.240,16.300000,4.4290,3,223,18.6,396.90,12.715432
474,8.05579,0.000000,18.10,0.000000,0.584,5.427,95.400000,2.4298,24,666,20.2,352.58,18.140000
355,0.10659,11.211934,1.91,0.000000,0.413,5.936,68.518519,10.5857,4,334,22.0,376.04,5.570000

In [17]:
y_train

7      27.1
268    43.5
80     28.0
30     12.7
450    13.4
       ...
412    17.9
223    30.1
271    25.2
474    13.8
355    20.6
Name: MEDV, Length: 404, dtype: float64

In [18]:
#training the model

from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [19]:
model = lr.fit(x_train, y_train)

In [20]:
y_pred = model.predict(x_test)

In [22]:
#for printing y_test and y_pred side by side

for i, j in zip(y_test, y_pred):
    print(i,"  ", j)

21.2    21.26839251346777
20.6    26.9930435577636
21.5    19.8055078798156
21.7    24.558867639930767
13.4    12.95513923345731
20.4    20.007340519469455
20.0    18.161464595348626
5.0    7.315351613615071
14.5    18.76147270197685
24.0    25.138769716415872
36.2    27.6556459353117
23.1    16.67514432618357
23.0    23.96382813542416
21.0    21.585888968573475
19.5    20.31566903241078
24.7    25.205485793529746
32.2    31.522649456303064
14.6    19.09050931490561
14.3    14.355863897662697
17.5    17.486835597442298
37.6    32.8500893130635
50.0    42.46174508422003
22.6    27.40511853288344
30.3    32.676558864461505
23.3    26.97362912020615
22.1    26.7668012913963
18.2    20.125495209289703
23.1    25.184354326510753
21.0    21.491743209748698
21.9    24.59707661932527
27.5    20.815170964937824
19.9    17.354186858058924
20.3    22.194818210018617
7.2    9.92862695854992
29.4    30.51110861542425
18.6    20.4889025491954
50.0    42.70977287609242
22.2    22.475021508781797
18.5    19.5877272273876
34.7    31.138328628932538
11.9    7.781218632765487
23.2    16.669860216609617
10.4    17.39355117733503
13.1    12.840236233693457
25.0    23.019906701698893
28.7    28.304869815663125
18.7    21.6076711929206
23.1    20.76407119730606
9.7    9.431606594925121
7.5    13.384251289378966
46.7    30.687518838534714
34.6    34.71316323222301
10.8    11.229564182862877
44.0    37.196382560563414
15.0    19.470514273738633
20.2    21.930766276765148
20.3    19.98639895784131
16.8    20.064339941969592
17.8    19.82952531220407
23.1    22.93085760883088
23.7    27.038910804722313
19.6    19.84956225866455
22.2    19.724796883975934
18.9    22.3612226806003
19.4    17.753913371044
16.6    18.809396690654303
22.0    27.737514465852826
15.0    25.867109111371597
19.9    18.15563358061113
15.4    17.673586659470928
37.9    34.10401291795665
17.5    17.717993167903625
24.1    26.18721885528415
20.4    23.14405425060238
18.3    20.44295778557934
23.9    25.218161055380413
22.4    22.243867712895362
22.0    27.835446582717225
22.9    28.17594625853549
20.8    17.253959258843967
17.8    8.735546160064242
13.5    14.469570147156503
16.5    23.05335005822301
14.6    7.483152161159296
23.9    28.02448613933361
29.6    24.83363605853938
20.1    23.75253207075996
20.8    18.324446025940695
22.8    24.89935480865687
22.3    26.615427022739134
20.0    23.644682819439453
29.8    24.64670666631192
18.2    18.765078011727148
12.8    12.481680784377573
11.9    22.51112892973704
23.9    27.501717571481834
18.5    19.849270810135778
18.9    19.530399698669232
13.0    16.861847210136972
22.6    18.278645557160743
19.5    17.64391397612012
23.8    25.80110816531125

In [24]:
from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test,y_pred)
mse

17.49004909694803